.breadCrumbs {
  display: flex;
  align-items: center;
}

.slashes {
  color: #fff !important;
  font-size: 1.4rem !important;
  font-weight: bold !important;
}

.link {
  color: #fff !important;
  font-size: 1.4rem !important;
  text-decoration: none !important;
}

.link:hover {
  text-decoration: underline !important;
}

.assessment:hover {
  text-decoration: none !important;
}
