@import url('../../App.css');
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upperContent {
  animation: fadeIn 0.5s ease forwards;
}

.Mui-focused .MuiInputLabel-root {
  display: none;
}
.uniName {
  padding: 0;
  font-size: 3rem;
  text-overflow: ellipsis;
}

.searchAndFilter {
  display: flex;
  align-items: center; /* Vertically center the items */
  margin-bottom: 60px;
}

.searchAndFilter > * {
  margin-right: 40px;
}

.yearLevelSelect {
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  width: 300px;
}

.yearLevelInputLabel {
  font-size: 14px;
}

.yearLevelSelectMenu {
  padding-top: 0;
  padding-bottom: 0;
}

.yearLevelSelectMenuItem {
  padding-top: 8px;
  padding-bottom: 8px;
}

.yearLevelCheckboxLabel {
  font-size: 14px;
}

.courseCards {
  animation: swishUp 0.5s ease forwards;
  max-width: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
