.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.searchAndFilter {
  display: flex;
  align-items: center; /* Vertically center the items */
}

.searchAndFilter > * {
  margin-right: 30px; /* Adjust the spacing between the SearchBar and the FormControl */
}

/* In your CSS file or CSS module */
.yearLevelSelect {
  margin-left: 10px;
  width: 300px; /* Adjust the width as needed */
}

.yearLevelInputLabel {
  font-size: 14px;
  color: #333; /* Adjust the color as needed */
}

.yearLevelSelectMenu {
  padding-top: 0;
  padding-bottom: 0;
}

.yearLevelSelectMenuItem {
  padding-top: 8px;
  padding-bottom: 8px;
}

.yearLevelCheckboxLabel {
  font-size: 14px;
}
