.cardContent {
  display: flex;
  flex-grow: 1;
  padding: 20px;
}

.courseCode {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 20px;
  justify-content: center;
  justify-self: center;
  align-self: center;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.courseName {
  font-size: 1.5rem;
  justify-content: center;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;

}
