.cardContent {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 1%;
  margin-right: 4%;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 1%;
  margin-right: 4%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 20px;
}

.date {
  font-size: 14px;
  white-space: nowrap;

}

.content {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
}

.year {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
}