.addButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.addButton {
  padding: 6px;
  background-color: #afafaf;
  border: none;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
