.addButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  z-index: 100;
}

.addButton {
  padding: 6px;
  background-color: #bfbfbf;
  border: none;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addButton:hover {
  background-color: #afafaf;
  color: white;
  scale: 1.05;
}