@import url('../../App.css');

.pageWrapper {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100vh;
  width: 100vw;
  padding-top: 20vh;
  padding-left: 15vw;
  box-sizing: border-box;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background: #fff5d3;
  padding: 0 100px 20px 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: swishRight 0.5s ease forwards;
}

.title {
  font-family: Jomhuria;
  font-size: 16rem;
  color: rgba(65, 112, 155, 1);
  margin: 0;
  user-select: none;
  line-height: 230px;
  height: 200px;
}

.description {
  margin-bottom: 15px;
  text-align: start;
  font-size: 1.5rem;
}
.startButton {
  font-size: 1.5rem;
}

.loginButton {
  margin-top: 20px;
}
.loginButton > a {
  color: #000;
}
