.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  overflow-x: hidden;
}

.questionsTabContainer {
  background-color: #e8e9ec;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.resizeBar {
  background-color: #000000;
  width: 2px;
  cursor: col-resize;
}
