@import url('../../App.css');
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  animation: fadeIn 0.5s ease forwards;
}

.questionsTabContainer {
  background-color: #e8e9ec;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  animation: swishRight 0.5s ease forwards;
}

.resizeBar {
  background-color: rgba(0, 0, 0, 0);
  width: 3px;
  cursor: col-resize;
  position: absolute;
  height: 100%;
  align-self: end;
}

.reportedQuestionNumber {
  text-align: start;
  border: 1px solid #8e8e8e;
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}
