.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  overflow-x: hidden;
}

.questionsTabContainer {
  background-color: #e8e9ec;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.resizeBar {
  background-color: #8e8e8e;
  width: 3px;
  cursor: col-resize;
}

.reportedQuestionNumber {
  text-align: start;
  border: 1px solid #8e8e8e;
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}
