@font-face {
  font-family: Jomhuria;
  src: url('assets/fonts/Jomhuria-Regular.ttf');
}
:root {
  --primary-color: #1e1e1e;
  --secondary-color: #c5d5ff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/grid.svg);
  z-index: -1;
}

#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  min-width: 400px;
}

.search-bar input {
  border: none;
  outline: none;
  background-color: transparent;
  flex-grow: 1;
  padding: 5px;
  font-size: 1rem;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}
