@font-face {
  font-family: Jomhuria;
  src: url('assets/fonts/Jomhuria-Regular.ttf');
}
:root {
  --primary-color: #1e1e1e;
  --secondary-color: #c5d5ff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
