@font-face {
  font-family: Jomhuria;
  src: url('assets/fonts/Jomhuria-Regular.ttf');
}
:root {
  --primary-color: #1e1e1e;
  --secondary-color: #c5d5ff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/grid.svg);
  z-index: -1;
}

#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
