.container {
  width: 100vw;
  background-color: #41709b;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.title {
  font-family: Jomhuria;
  font-size: 4rem;
  background-color: rgba(65, 112, 155, 1);
  color: white;
  margin: 0;
  margin-left: 30px;
  padding: 0;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
  gap: 30px;
}
