.container {
  width: 100%;
  background-color: #41709b;
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  z-index: 100;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-items: center;
}

.title {
  font-family: Jomhuria;
  font-size: 5rem;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 80px;
  height: 70px;
  cursor: pointer;
  justify-content: center;
}

.breadcrumbContainer {
  display: flex;
  flex-grow: 1;
  margin-left: 20px;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.profileIcon:hover {
  cursor: pointer;
  scale: 1.1;
}
