.container {
  width: 100%;
  background-color: #41709b;
  margin: 0;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  box-sizing: border-box;
}

.title {
  font-family: Jomhuria;
  font-size: 5rem;
  background-color: rgba(65, 112, 155, 1);
  color: white;
  margin: 0;
  padding: 0;
  line-height: 80px;
  height: 70px;
  cursor: pointer;
}

.breadcrumbContainer {
  display: flex;
  flex-grow: 1;
  margin-left: 20px;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
